{include file="common/common_head"/}

<script type="text/javascript" src="/static/home/js/jq.min.js"></script>
<script type="text/javascript">
$(function(){
    function tabs(tabTit,on,tabCon){
        $(tabTit).children().hover(function(){
            $(this).addClass(on).siblings().removeClass(on);
            var index = $(tabTit).children().index(this);
            $(tabCon).children().eq(index).show().siblings().hide();
      });
  };
    tabs(".tab-hd","active",".tab-bd");
});
</script>
</head>

<body>
<header>
{include file="common/common_navhead"/}
  <div class="head-middle">内蒙古都林教育</div>
  <a class="backprev" href="{:url('my/index')}"> <img src="/static/home/img/denglu.png" alt="内蒙古都林教育"/> </a> </header>
  <div class="sesou">
          <input type="text" class="search1" id="keywords" placeholder="请输入搜索内容"/>
          <input type="button" class="sousuo1 button search_btn" value="GO"/>
        </div>
<div class="wap_qnke">
  <h3 class="wap_qnke_t">课程包</h3>

<div id="box" class="kcb">
    <div id="head_list" class="kcb_head_list">
        {volist name="$classType_list" id="val"}
            <a href="{:url('course/bao_list')}?classType_id={$val.id}" class="classType_list" id="classType_{$key}" style="margin-right: 20px;">{$val.title}</a>
        {/volist}
    </div>
    <div id="menu_content" class="neri">
        <nav style="display:block;">
            <div class="kcsz_ner">
                <ul>
                    {notempty name="bao_list"}
                        {volist name="bao_list" id="val"}
                            <a href="{:url('course/bao_info')}?id={$val.id}" target="_blank">
                                <li>
                                    <img src="{$admin_path}{$val.pic}" style="height: 169px;width: 265px;" alt="内蒙古都林教育"/>
                                    <h3>{$val.title}</h3>
                                    <p>{$val.describe}</p>
                                    <div>
                                        <div class="kcsz_ner_fr">{$val.cang}</div>
                                        <div class="kcsz_ner_righ">￥{$val.price}元</div>
                                    </div>
                                </li>
                            </a>
                        {/volist}
                        {else /}
                        <div style="text-align: center;margin-top: 20px;">
                            <font color="red">数据为空</font>
                        </div>
                    {/notempty}
                </ul>
            </div>
        </nav>
    </div>
</div>

  
</div>

{include file="common/common_bottom"/}
</body>
</html>
<script>
    $(function(){
        var classType_id = "<?=$_GET['classType_id']?>";
        $('.classType_list').removeClass('active');
        $('#classType_'+classType_id).addClass('active');
    });

    // 搜索
    $('.search_btn').click(function(){
        var keywords = $('#keywords').val();
        if(!keywords){
            alert('搜索项不能为空');
            return false;
        }else{
            location.href="{:url('course/bao_list')}?classType_id=0&keywords="+keywords;
        }
    });
</script>