<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="Keywords" content="内蒙古《都林教育》培训班是2016年成立的专业蒙古语培训机构。">
<meta name="Description" content="《都林教育》的主营业务涵盖了公务员、事业单位（各盟市）、政法干警考试、司法考试等各类职业人才的招录考试、笔试及面试培训，是一家综合性的职业教育培训机构。">
<title>内蒙古《都林教育》</title>
<link rel="stylesheet" type="text/css" href="/static/common/css/grzc.css" />
<script type="text/javascript" src="/static/home/js/jq.min.js"></script>
</head>
    <script type="text/javascript">
        (function () {
            function onResize() {
                document.documentElement.style.fontSize = document.documentElement.clientWidth / 35.1 + 'px';
            }

            window.onresize = function () {
                onResize();
            };
            onResize();
        }());
    </script>
<body>
	<div class="history-go-back"  style="background: #FFFFFF;height:4rem;line-height:4rem;border-bottom:1px solid #f5f5f5;">
        <a href="{:url('my/index')}" ><span></span></a>
        <span>我的课程</span>
        <a style="width:1.5rem;position:absolute;right:1.3rem;top:1.2rem;" href="index.html" target="_self"><img src="/static/home/img/index_icon.png" alt="" style="display:block;width:100%;"></a>
    </div>
    <div class="mycourse">
        <div class="course_bu">
            <ul>
                {volist name="order_type" id="val"}
                    <li ><a {eq name="key" value="1"} class="active order_type_list" {/eq} id="order_type_{$key}" href="{:url('my/order_list')}?order_type={$key}" target="_self">{$val}</a></li>
                {/volist}
            </ul>
        </div>
        <div class="coursewrap">
            
        <div class="course_con">
                {volist name="order_list" id="val"}
                  <a style="display:block;" href="{:url('course/info')}?id={$val.id}">
                    <div class="course_conleft">
                        <img src="{$admin_path}{$val.pic}" style="width: 288px;height: 162px;" alt="">
                    </div>
                    <div class="course_conright">
                        <h3>{$val.title}</h3>
                        <div class="studied">
                            <?=$val['status']?>
                        </div>
                    </div>
                  </a>
                {/volist}
            </div>
        </div>
    </div>
</body>
</html>
<script>
    $(function(){
        var order_type = "<?=$_GET['order_type']?>";
        $(".order_type_list").removeClass('active');
        $("#order_type_"+order_type).addClass('active');
    });
</script>